.mt-5 {
  margin-top: 50px;
}

.animate {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  position: relative;
  animation-duration: 4s;
}
/* 
@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
} */

/* @keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
} */

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.div20 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

/* The following example uses the value "infinite" to make the animation continue for ever: */
/* .div21 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} */

.div21 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

.div22 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
  animation-direction: alternate;
  animation-direction: alternate-reverse;
}

.timingfunction div {
  width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}

#div23 {
  animation-timing-function: linear;
}
#div24 {
  animation-timing-function: ease;
}
#div25 {
  animation-timing-function: ease-in;
}
#div26 {
  animation-timing-function: ease-out;
}
#div27 {
  animation-timing-function: ease-in-out;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}

.div28 {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: animationFill;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
  animation-fill-mode: both;
}

@keyframes animationFill {
  from {
    top: 0px;
  }
  to {
    top: 100px;
    background-color: blue;
  }
}

.mt-6 {
  margin-top: 500px;
}

.div29 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
